@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&display=swap');


.contact-page-top-banner,
.help-sound,
.store-address-container {
  font-family: "Montserrat", sans-serif;
  font-stretch: normal;
  color: #403F3F;
}

.contact-page-top-banner {
  text-align: center;
  color: #ffffff;
  background-image: url(public/top-banner-image.jpg);
  background-position: center;
  padding-bottom:55.81%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

.banner-intro {
  position: absolute;
  inset: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  background-color: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.banner-title {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.0743rem + 1.5842vw, 2.5rem);
}

.banner-title .static-text {
  color: var(--orange);
}

.banner-localized-subtext {
  font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
}

.help-sound {
  display: flex;
  flex-flow: column;
  padding: 40px 20px;
}

.help-sound-image-container img {
  max-width: 100%;
}

.help-sound-list-title{
  font-size: clamp(2.5rem, 2.1429rem + 1.7857vw, 3.75rem);
  font-weight: 700;
  line-height: 1;
  margin-top: 20px;
}

.help-sound-list{
  list-style: none;
  padding: 0;
  font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  line-height: 1.1;
}

.help-sound-list-item {
  position: relative;
  padding-left: 30px;
  margin-top: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
}

.help-sound-list-item::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid var(--orange);
  border-radius: 50%;
}

.help-sound-list-item a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--orange);
  text-underline-offset: 5px;
  cursor: pointer;
}

.help-sound-list-item a:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1023px) {
  .contact-page-top-banner{
    padding-bottom:  33.74%;
  }

  .help-sound {
  flex-flow: row;
  align-items: center;
  padding: 95px 0 ;
  }

  .help-sound-list-container {
    padding: 50px 40px;
  }
}