@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&display=swap");

.contact-page-top-banner,
.help-sound,
.store-address-container {
  font-family: "Montserrat", sans-serif;
  font-stretch: normal;
  color: #403f3f;
}

.nav {
  justify-content: space-evenly;
  padding-bottom: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
}

.nav-tabs {
  border-bottom: unset;
}

.nav-tabs .nav-link {
  font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  font-weight: 700;
  color: rgba(64, 63, 63, 0.5);
  border-radius: 0.25rem;
  padding: 0.5rem 1.2rem;
}

.nav-tabs .nav-link.active {
  color: var(--orange);
  background-color: rgba(250, 150, 0, 0.1);
  border: none;
}

.accent-text-color {
  color: var(--orange);
}

.contact-page-top-banner {
  text-align: center;
  color: #ffffff;
  background-image: url(public/top-banner-image.jpg);
  background-position: center;
  padding-bottom: 55.81%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner-intro {
  position: absolute;
  inset: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  background-color: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.banner-title {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.0743rem + 1.5842vw, 2.5rem);
}

.banner-title .static-text {
  color: var(--orange);
}

.banner-localized-subtext {
  font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
}

.help-sound {
  display: flex;
  flex-flow: column;
  padding: 40px 20px;
}

.help-sound-image-container img {
  max-width: 100%;
}

.help-sound-list-title {
  font-size: clamp(2.5rem, 2.1429rem + 1.7857vw, 3.75rem);
  font-weight: 700;
  line-height: 1;
  margin-top: 20px;
}

.help-sound-list {
  list-style: none;
  padding: 0;
  font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  line-height: 1.1;
}

.help-sound-list-item {
  position: relative;
  padding-left: 30px;
  margin-top: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
}

.help-sound-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid var(--orange);
  border-radius: 50%;
}

.help-sound-list-item a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--orange);
  text-underline-offset: 5px;
  cursor: pointer;
}

.help-sound-list-item a:hover {
  opacity: 0.8;
}

.store-address-container {
  padding: 0 20px 80px;
  overflow-x: auto;
}

.store-address-container .tab-content .tab-pane.active {
  display: grid;
  grid-template-columns: 1fr; /* карта шире, контакты уже */
  grid-template-rows: minmax(min-content, max-content) 1fr;
  gap: 40px;
}

.store-map-and-parking {
  grid-row: 2;
}

.store-map-and-parking .city-google-map {
  position: relative;
  padding-bottom: 75.32%;
  margin-bottom: clamp(0.625rem, 0.4464rem + 0.8929vw, 1.25rem);
}

.store-map-and-parking .city-google-map iframe {
  position: absolute;
  inset: 0;
  height: 100%;
}

.store-address {
  font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  line-height: 1.1;
  margin-bottom: clamp(2.5rem, 2.1429rem + 1.7857vw, 3.75rem);
}

.parking-place figure {
  width: 100%;
  margin: 0;
}

.parking-place figure img:not(.parking-ico) {
  display: block;
  max-width: 100%;
  margin-bottom: 15px;
}

.parking-place figure figcaption .description-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.parking-place figure figcaption .description-container p {
  font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  line-height: 1.1;
  margin: 0;
}

.city-store-tab-content {
  --tab-content-list-gap: clamp(1.5625rem, 0.6618rem + 3.4314vw, 3.75rem);
  grid-row: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: var(--tab-content-list-gap);
}

.tab-content-item {
  width: 100%;
}

.tab-content-item:nth-child(1),
.tab-content-item:nth-child(2) {
  flex: 1 1;
  width: calc(45% - (var(--tab-content-list-gap)));
  min-width: 145px;
}

.tab-content-item:nth-child(2) {
  flex: 2 0;
}

.tab-content-item h3 {
  font-size: clamp(1.5rem, 1.0882rem + 1.5686vw, 2.5rem);
  margin-bottom: 20px;
}

.tab-content-item p {
  margin-bottom: 10px;
  font-size: clamp(1.125rem, 0.9706rem + 0.5882vw, 1.5rem);
  line-height: 1.1;
}

.tab-content-item p a {
  color: inherit;
  cursor: pointer;
}

.tab-content-item p a:not([href^="tel:"]) {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--orange);
}

.path-to-store h2 {
  font-size: clamp(2.5rem, 2.1429rem + 1.7857vw, 3.75rem);
  line-height: 1;
  margin-bottom: 20px;
}

.path-to-store .image-wrapper {
  --path-to-store-gap: 40px;
  display: flex;
  flex-flow: row wrap;
  gap: var(--path-to-store-gap);
}

.path-to-store .image-wrapper figure {
  margin-bottom: 0;
  max-width: 100%;
  min-width: 280px;
  flex: 1;
}

.path-to-store .image-wrapper figure img {
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 395px) {
  .tab-content-item:nth-child(1),
  .tab-content-item:nth-child(2) {
    min-width: 100%;
  }
}

@media screen and (min-width: 1023px) {
  .nav {
    justify-content: flex-start;
    transform: translateX(calc(50% + 45px));
  }
  .contact-page-top-banner {
    padding-bottom: 33.74%;
  }

  .help-sound {
    flex-flow: row;
    align-items: center;
    padding: 95px 0;
  }

  .help-sound-list-container {
    padding: 50px 40px;
  }

  .store-address-container {
    padding: 0 80px 100px;
  }

  .store-address-element {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }

  /* TABS */
  .store-address-container .tab-content .tab-pane.active {
    grid-template-columns: 1fr 1fr; /* карта шире, контакты уже */
    grid-template-rows: minmax(min-content, max-content) 1fr;
    gap: 95px;
  }

  .store-map-and-parking {
    grid-column: 1;
    grid-row: 1;
    margin-block-start: -90px;
  }

  .city-store-tab-content {
    grid-column: 2;
    grid-row: 1;
  }

  .tab-content-item:nth-child(1),
  .tab-content-item:nth-child(2) {
    flex: 1 0 100%;
    width: 100%;
  }

  .path-to-store {
    grid-column: 1 / -1;
  }

  .path-to-store h2 {
    margin-bottom: 30px;
  }

  .path-to-store .image-wrapper figure {
    max-width: 33.3333%;
  }
}
